@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/UI/Button/button";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');
body {
  margin: 0;
  background-image: url('./assets/images/bg-purple.jpg');
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: content-box;
}
.form-box{
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}
.header{
  display: block;
  padding: 20px 30px;
  background: rgba(248,248,248,.9);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
/* .header h2{
  margin: 0;
  padding: 0;
  color: #232323;
  font-size: 24px;
  font-weight: 300;
} */
.form-area{
  padding: 30px;
  box-sizing: border-box
}
.form-group {
  width: 100%;
  margin-bottom: 20px;
}




